@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-inter), sans-serif;
    overflow-x: hidden;
  }

  ::selection {
    background-color: rgba(147, 51, 234, 0.4); /* Tailwind purple-600 with opacity */
    color: #ffffff;
  }
}


@layer base {
    @media (pointer: fine) {
        * {
            cursor: none !important;
        }
    }

    body {
        background-color: #000000;
        color: #ffffff;
    }
}